<!DOCTYPE html>
<html>

<head>
    <h3>{{viewTitle}}</h3>
    <title>View from the API</title>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<form method="GET">
    <Label>Choose your list : </Label>
    <div class="form-row">
        <div class="form-group">
            <a class="btn btn-outline-primary" href="/Helmets/list">Go to Helmets list</a>
        </div>

        <div class="form-group">
            <a class="btn btn-outline-primary" href="/Chests/list">Go to Chests list</a>
        </div>

        <div class="form-group">
            <a class="btn btn-outline-primary" href="/Cloaks/list">Go to Cloaks list</a>
        </div>

        <div class="form-group">
            <a class="btn btn-outline-primary" href="/Arms/list">Go to Arms list</a>
        </div>

        <div class="form-group">
            <a class="btn btn-outline-primary" href="/Legs/list">Go to Legs list</a>
        </div>
    </div>
</form>
<div class="form-group">
    <a class="btn btn-primary btn-lg btn-block" href="/armors/list">All Armors create HERE !</a>
</div>

<script src="/socket.io/socket.js"></script>

</html>